<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesion</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h3>Iniciar Sesión</h3>
        <form class="formu" (submit)="submit(postForm)" #postForm="ngForm">
          <div class="input-box">
            <input
              name="usuario"
              type="text"
              required="required"
              ngModel
              #usuario="ngModel"
            />
            <span>Usuario</span>
          </div>
          <br />

          <div class="input-box">
            <input
              name="pwd"
              type="password"
              required="required"
              ngModel
              #pwd="ngModel"
            />
            <span>Contraseña</span>
          </div>
          <br />
          <br />
          <button>Ingresar</button>
        </form>

        <div class="Recordar">
          ¿Recordar?
          <label for="Si">
            <input type="radio" name="Siono" id="Si" /> Si
          </label>
          <label for="No">
            <input type="radio" name="Siono" id="No" /> No
          </label>
        </div>
      </div>
    </div>
  </body>
</html>
